{% extends 'base.html' %}

{% block title %}
    Create Task
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} this "form" in form.as_p is the value in your context dictionary,
                so the names need to be the same!!! {% endcomment %}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
